
.probe
.vscode
coremods
crash-reports
downloads
fancymenu_data
kubejs/config/client.json
kubejs/config/common.json
kubejs/config/web_server.json
local
logs
mods
resourcepacks
saves
screenshots
server-resource-packs
shaderpacks
texturepacks
patchouli_data.json
realms_persistence.json
user*.json
command_history.txt
emi.json
hs_err_pid*
options.txt
rocknroller/recipes_testworld.nbt
*.bak
*.disable
rocknroller/recipes_1111.nbt
options.txt
