
mods/
disabledmods/
PCL/
StellarisSpace.*
*.bak
downloads/
fancymenu_data/
kubejs/README.txt
local/
logs/
StellarisSpace-natives/
patchouli_data.json
realms_persistence.json

.probe
command_history.txt
usercache.json
usernamecache.json
saves/
.vscode/

crash-reports/
resourcepacks/
config/emendatusenigmatica/default/
config/emendatusenigmatica/default/data
kubejs/config/
