
.probe
.vscode
coremods
downloads
fancymenu_data
kubejs/config/client.json
kubejs/config/common.json
kubejs/config/web_server.json
local
logs
mods
resourcepacks
saves
screenshots
server-resource-packs
shaderpacks
texturepacks
patchouli_data.json
realms_persistence.json
user*.json
command_history.txt
