<hr>

# Emendatus Enigmatica Validation Results
Emendatus Enigmatica version: 1.21.1-2.2.0-alpha-1<br>
File generated at: 18-03-2025 16:55:48.016<br>
<hr>

## Strata
All files were parsed and registered successfully!<br>
## Materials
### File <code>material\redstone.json</code>
Warnings:<br>
- Element: <code>root.colors.particlesColor</code><br>
Message: This field is unnecessary!<br>
Field <code>root.colors.hasParticles</code> needs to be present and set to <code>true</code> for this field to have any effect.<br>


### File <code>material\fluorite.json</code>
Warnings:<br>
- Element: <code>root.properties.gemTexture</code><br>
Message: This field is unnecessary when the material isn't tint-based.<br>


### File <code>material\coal.json</code>
Warnings:<br>
- Element: <code>root.properties.burnTime</code><br>
Message: This field is unnecessary!<br>
Field <code>root.properties.isBurnable</code> needs to be present and set to <code>true</code> for this field to have any effect.<br>


## Compatibility
All files were parsed and registered successfully!<br>
## Deposits
All files were parsed and registered successfully!<br>
## Additional Information
### Performance
<table><tr><td>Scanning and registration of addons</td><td>0.046s</td></tr><tr><td>Loading and parsing JSON Files</td><td>0.011s</td></tr><tr><td>Validation: Strata</td><td>0.035s</td></tr><tr><td>Validation: Material</td><td>0.127s</td></tr><tr><td>Validation: Compat</td><td>0.000s</td></tr><tr><td>Validation: Deposits</td><td>0.021s</td></tr><tr><td>Data Generation</td><td>1.198s</td></tr><tr><td>Validation: Registry</td><td>0.000s</td></tr><tr><td>Generation of Analytics Summary</td><td>0.015s</td></tr></table>


> You can disable the generation of this summary and speed up the validation in the configuration file!

